input {
    display: flex;
    height: 1rem;
    width: 100%;
    min-width: 18rem;
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color: var(--input-border-color);
    background-color: var(--background-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
    font-size: 0.875rem;
    --ring-offset-color: var(--background-color);
    font-weight: 500;
    color: var(--foreground-color);
    box-sizing: border-box;
}

input::placeholder {
    color: var(--muted-foreground-color);
}

input:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--ring-color);
    --ring-color: var(--ring-color);
    --ring-offset-width: 2px;
}
